<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <div class="container">
      <h1>File Uploaded Successfully</h1>
      <br />
      <img
        src="<%= typeof file != 'undefined' ? file : '' %>"
        class="responsive-img"
      />
    </div>
  </body>
</html>
